.slogn{
    text-align: center;
    /* color:white; */
    /* color:rgb(36, 31, 31); */
}
.p-5 mb-4 bg-light rounded-3{
  margin:0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
}
h1{
  /* color:white; */
  /* color:rgba(47, 42, 42, 0.897); */
  text-align: center;
}
ul{
  color:black;
}